.header {
  background: #6f00a8;
  color: white;
  padding: 96px 24px 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Jacques Francois, serif;
  font-size: 40px;
  font-weight: normal;
}

.slogan {
  font-family: Itim, cursive;
  margin-top: 2px;
  font-size: 16px;
  opacity: 0.95;
}
 /*This is the pill thats around the search bar */
.search-bar  {
  margin-top: 48px;          
  width: 90%;
  max-width: 1100px;        
  height: 64px;              
  background: white;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 0 32px; 
  
}
/*Magnifying Glass Icon */
.search-icon {

  width: 18px;
  height: 18px;
  margin-right: 16px;
  opacity: 0.6;
  flex-shrink: 0;
}
/*Input field into the search bar */
.search-bar input {
  flex: 1;
  height: 100%;

  border: none;
  outline: none;

  font-size: 16px;
  background: transparent;
}